@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 253 100% 95%; /* Light Background */
    --foreground: 253 5% 10%; /* Dark text color */
    --card: 253 50% 90%;
    --card-foreground: 253 5% 15%;
    --popover: 253 100% 95%;
    --popover-foreground: 253 100% 10%;
    --primary: 253 47% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 253 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 215 30% 85%;
    --muted-foreground: 253 5% 40%;
    --accent: 215 30% 80%;
    --accent-foreground: 253 5% 15%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 253 5% 90%;
    --border: 253 30% 53%;
    --input: 253 30% 50%;
    --ring: 253 47% 26%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 253 50% 10%; /* Dark Background */
    --foreground: 253 5% 90%; /* Light Background */
    --card: 253 50% 10%;
    --card-foreground: 253 5% 90%;
    --popover: 253 50% 5%;
    --popover-foreground: 253 5% 90%;
    --primary: 253 47% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 253 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 215 30% 25%;
    --muted-foreground: 253 5% 60%;
    --accent: 215 30% 25%;
    --accent-foreground: 253 5% 90%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 253 5% 90%;
    --border: 253 30% 50%;
    --input: 253 30% 50%;
    --ring: 253 47% 26%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
